h1 {
  text-align: center;
  font-size: 48pt;
}

h2 {
  font-size: 26pt;
  padding: 20px;
  text-align: center;
}

h3 {
  font-size: 26pt;
}

.col-md-3 {
 border: 4px solid black;
 border-radius: 10px;
 background-color: #99d6ff;
 min-height: 300px;
 margin: 20px;
 padding-top: 40px;
}

p {
  display: none;
  font-size: 20pt;
}

body {
  background-image: url(http://www.thewallpapers.org/photo/34665/Wood-003.jpg);
}
